.App{
  text-align: center;
  /* margin: 50px;
  background-color: aliceblue;
  padding: 30px;
  height: 100vh;
  width: 100vw; */
}
.heading{
  font-size: x-large;

}
.input-field{
  border-radius: 50px;
  width: 100%;
  padding: 10px;
}
.input1{
  display: flex;
  margin-inline: auto;
  position: relative;
  align-items: center;
  width: 90%;}

.submit-field{
  position:absolute;
  margin: 4px;
  right: 0;
  border-radius: 50px;
  font-size: x-large;
  border: none;
  background-color: black;
  padding: 3px;
  color: white;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  
}